<div class="container">
  <h3 class="text-success">Add new quote</h3>
  <div class="row">
    <form (ngSubmit)="add()" >
      <label for="quoteStr">New quote</label>
      <textarea placeholder="Add tne new quote (maxlength is 70)" [(ngModel)] = "newQuote.quote" name="quoteStr" id="quoteStr" cols="30" rows="5" class="form-control col-md" #quoteStr = "ngModel"v maxlength="70" required></textarea>
      <label for="author">Author</label>
      <input placeholder="Enter the author's name" id="author" type="text" class="form-control col-xs-6" name="author" #author="ngModel" [(ngModel)] = "newQuote.author" required>
      <button class="btn-success">Update</button>
    </form>
  </div>
</div>
