
  <div class="container">
    <div class="row text-success">
      <h2 class="col-6">Quotes</h2> 
      <h2 class="col-3">Author</h2>
      <h2 class="col-3">Votes</h2>
    </div>
    <hr>
    <div class="row">
      <ol class="col-6">
        <li *ngFor="let quote of quotes">{{quote.quote}} </li>
      </ol>
      <ul class="col-3 ml-3 list-unstyled">
        <li class="col-lg-3" *ngFor="let quote of quotes">{{quote.author}}</li>
      </ul>
      <ul class="col ml-3 list-unstyled">
        <li *ngFor="let quote of quotes">{{quote.votes}}</li>
      </ul>
    </div>
    <hr>
    <app-quoteinfo></app-quoteinfo>
  </div>